Django==4.0.1
phonenumbers==8.13.13
django-environ==0.10.0
python-dotenv==1.0.0
Pillow==9.5.0
asgiref==3.7.2
dj-config-url==0.1.1
setuptools==67.7.2
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
wheel==0.40.0
django-phonenumber-field==7.1.0
psycopg2-binary==2.9.6
djangorestframework==3.14.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2